.hat{
    width:500px;
    background:white;
  /*   text-align:center; */
    display:flex;
  }
  #hat{
    width:200px;
    height:200px;
    border:none;
   border-radius:0px;
  
    
  }
  /* #hat{
    width:500px;
    height:400px;
  } */
  body{
    background:black;
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    background: #034;
    background-image: radial-gradient(#034 5%, #012 100%);
    background-size: cover;
  }
  img{
    width:100px;
    height:150px;
    padding: 5px 5px;
    border-radius:15px;
  }
  #cards{
    margin:30px;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    display:none;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
  }
  @keyframes example {

    /* 0%   { left:500px; top:0px;}
    25%  { left:0px; top:0px;}*/
 from {left: 500px;}
  to {left: 0px;}
  }
  #card2{
     margin:30px;
    display:none;
    position: relative;
    animation-name: card2anim;
    animation-duration: 5s;
  }
  @keyframes card2anim {
 
     0%   { left:500px; top:0px;}
    25%  { left:0px; top:0px;}
      /*from {left: 500px;}
  to {left: 0px;} */
  }
 
  
  .bubble{
    border-radius: 10px;
    font-size:20px;
    background: #dd5;
     padding: 1vmin;
    margin:20px;
    display:none;
    font-family: Kreon, arial, sans-serif;
    text-align:center;
  }
  
  .hat div:nth-child(2) {
      display: block;
  }
  
  button{
    margin:10px;
    border-radius:45px;
    background:red;
    cursor:pointer;
  }
  
